@import "~bootstrap/scss/bootstrap";

body,
.App-header{
  background-color: #282c34;
}

.navigation ~ *{
  color: white;
}

.create{
  color: #282c34;
}

.card-header{
  color: #282c34;
}

.modal{
  display: block;
  background-color: #80808052;
}

.modal-title{
  color:#282c34;
}

.btn{
  margin-right: 5px;
  width: 80px;
}